@model Datyche.Models.User;

@{
    ViewData["Title"] = "Sign up";
}

<div class="d-flex">
    <form class="d-flex flex-column" asp-controller="Auth" asp-action="Signup" asp-antiforgery="true" method="post">
        <div>
            <label asp-for="Email">E-mail</label>
            <input class="d-block" type="email" asp-for="Email">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Username">Username</label>
            <input class="d-block" type="text" asp-for="Username">
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mt-3">
            <label asp-for="Password">Password</label>
            <input class="d-block" type="password" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <input type="submit" class="btn-primary mt-3" value="Sign up">
        <a asp-controller="Auth" asp-action="Login">Log in</a>
    </form>
</div>

@section Scripts
{
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}