@{
    ViewData["Title"] = "aetenae - Post";
}

<div class="container">
    <div class="post row">
        <div class="media-container col-sm-8">
            <div id="postCarousel" class="carousel slide" data-bs-ride="carousel" style="height: 600px; border: 1px solid rgba(0, 0, 0, 1);">
                <div class="carousel-inner h-100 w-100">
                    <div class="carousel-item active h-100 w-100">
                        <img src="~/img/1.png"
                            class="h-100 w-100" alt="" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item h-100 w-100">
                        <img src="~/img/2.png"
                            class="h-100 w-100" alt="" style="object-fit: contain;">
                    </div>
                    <div class="carousel-item h-100 w-100">
                        <img src="~/img/3.png"
                            class="h-100 w-100" alt="" style="object-fit: contain;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert()"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#postCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert()"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <div class="carousel-indicators">
                    <button
                        type="button"
                        data-bs-target="#postCarousel"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1">
                    </button>
                    <button
                        type="button"
                        data-bs-target="#postCarousel"
                        data-bs-slide-to="1"
                        aria-label="Slide 2">
                    </button>
                    <button
                        type="button"
                        data-bs-target="#postCarousel"
                        data-bs-slide-to="2"
                        aria-label="Slide 3">
                    </button>
                </div>
            </div>
        </div>
        <div class="body-container col-sm-4">
            <h1>Title</h1>
            <p>Author: <strong>aetenae</strong></p>
            <p>Published: <strong>08.05.2022</strong></p>
        </div>
    </div>
</div>