@model UserViewModel;

@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1>Hello, @Model.Username!</h1>
    <h6>Email: @Model.Email</h6>
    <h6>Id: @Model.Id</h6>
    <h6>Password: @Model.Password</h6>
    <a asp-controller="Auth" asp-action="Logout">Log Out</a>
</div>